<aside  id="app-sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark" aria-current="page" routerLink="find-by-country" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Buscar por País</a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" routerLink="find-by-region" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Buscar por Región</a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" routerLink="find-by-capital" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Buscar por Capital</a>
    </li>
  </ul>
</aside>
