<div class="container-fluid pt-3">
  <h1>{{title}}</h1>

  <hr/>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ng-container *ngIf="regions; then regionsOptions; else inputSearch"></ng-container>

        <ng-template #regionsOptions>
          <ng-container>
            <!-- [class.btn-primary]="target === searchValue" -->
            <!-- [ngClass]="{'btn-primary': target === searchValue, 'btn-outline-primary': target !== searchValue }" -->
            <!-- [class]="target === searchValue ? 'btn-primary' : 'btn-outline-primary'" -->
            <button *ngFor="let target of regions"
                    class="btn me-2 mb-3 text-capitalize"
                    [class]="getRegionClass( target )"
                    (click)="setRegionActive( target )">{{target}}</button>
          </ng-container>
        </ng-template>

        <ng-template #inputSearch>
          <ng-container>
            <app-input-search [placeholder]="placeholder" (onEnter)="search( $event )" (onDebounce)="subjects( $event )"></app-input-search>
          </ng-container>
        </ng-template>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="alert alert-info" *ngIf="searchValue && countriesResponse.length === 0 && !isError; else error">
          <span class="msg">Cargando...</span>
        </div>

        <ng-template #error>
          <div class="alert alert-danger" *ngIf="isError; else resultTable">
            <span class="msg">No se encontró nada con el valor "{{searchValue}}"</span>
          </div>
        </ng-template>

        <ng-template #resultTable>
          <app-table-countries [data]="countriesResponse"></app-table-countries>
        </ng-template>
      </div>
    </div>
  </div>
</div>
