<form autocomplete="off" (ngSubmit)="search()" #formFfindByCountry>
  <div class="mb-3">
    <input type="text" class="form-control" id="inputSearchCountry" name="searchCountryValue"
           [placeholder]="placeholder"
           [(ngModel)]="searchCountryValue"
           (input)="handleKeyDown()"/>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor="let target of subjects" (click)="setSearchFromSubject( target )">{{target}}</li>
    </ul>
  </div>
</form>
