<div class="container-fluid pt-3">
  <div class="alert alert-info" *ngIf="!country && !isError; else error">
    <span class="msg">Cargando...</span>
  </div>

  <ng-template #error>
    <div class="alert alert-danger" *ngIf="isError; else countryDetails">
      <span class="msg">No se encontró ningún País con el código "{{code}}"</span>
    </div>
  </ng-template>

  <ng-template #countryDetails>
    <ng-container *ngIf="country">
        <h1>{{country.name.common}}</h1>

        <hr/>

        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <h3>Bandera</h3>
              <img [src]="country.flags.svg" [alt]="country.flag" class="img-thumbnail"/>
            </div>

            <div class="col">
              <h3>Información</h3>

              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Población:</strong> {{country.population | number}}
                </li>
              </ul>
            </div>
          </div>
        </div>
    </ng-container>
  </ng-template>
</div>
