<div class="container-fluid pt-3">
  <h1>{{title}}</h1>

  <hr/>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <form autocomplete="off" (ngSubmit)="search()" #formFfindByCountry>
          <div class="mb-3">
            <input type="text" class="form-control" id="inputSearchCountry" name="searchCountryValue" placeholder="Buscar país..." [(ngModel)]="searchCountryValue">
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="alert alert-danger" *ngIf="isError; else resultTable">
          <span class="msg">No se encontró nada con el valor "{{lastSearchCountryValue}}"</span>
        </div>

        <ng-template #resultTable>
          <table class="table table-hover" *ngIf="countriesResponse.length > 0">
            <thead>
            <tr>
              <th>#</th>
              <th>ISO</th>
              <th>Bandera</th>
              <th>Nombre</th>
              <th>Capital</th>
              <th>Región</th>
              <th>Población</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let target of countriesResponse; let i = index">
              <td>{{i}}</td>
              <td>{{target.cca2}}</td>
              <td><img class="flag" [src]="target.flags.svg" [alt]="target.flag"/></td>
<!--              <td>{{target.translations["spa"].common}}</td>-->
              <td>{{target.name.common}}</td>
              <td>{{target.capital}}</td>
              <td>{{target.region}}</td>
              <td>{{target.population | number}}</td>
              <td>
                <a href="#" [routerLink]="['/show-country', target.cca2.toLowerCase()]">Ver...</a>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>
  </div>
</div>
