<div class="container-fluid">
  <header id="app-header" class="bg-dark d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 side left">
          <h1 class="text-light">Gifs-App</h1>
        </div>

        <div class="col-8 side right d-flex justify-content-end">
          <a href="#" class="bg-light p-3">Dashboard</a>
        </div>
      </div>
    </div>
  </header>

  <div id="app-search">
    <input type="text" class="form-control" placeholder="Buscar Gifs..."/>
  </div>

  <main id="app-main">
    <div class="row">
      <div class="col-3">
        <aside id="app-aside" class="bg-dark">

        </aside>
      </div>

      <div class="col-9">
        <main id="app-main-content" class="bg-dark">
          <figure><img src="https://media4.giphy.com/media/YLU8TdRPuh5Sw/giphy.gif?cid=ecf05e476qqu6ae5enb7pv4ghh9owj3rr9udqarsty1tz3pm&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media0.giphy.com/media/AvQTjBs1b434c/giphy.gif?cid=ecf05e47y3qst7na9qxdc86eaxiipgdcoixah1osurdjlur5&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media0.giphy.com/media/IevFZSsmkAg76sscLO/giphy.gif?cid=ecf05e478ez37gcc3rbocy7562oadodonbpesqbduof8gbig&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media2.giphy.com/media/HNzeb7p2e6swt2uSRT/giphy.gif?cid=ecf05e47y31ycs6q3dq3h1anqkk4hvo01z3lf8u5ifx2b393&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media0.giphy.com/media/51sDmvdwnr8qY/giphy.gif?cid=ecf05e4702ebziaf5p66luh1o4lleu34vb9ua8viuhgcm9b1&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media1.giphy.com/media/26BRzozg4TCBXv6QU/giphy.gif?cid=ecf05e47j0xqkxiujwaq2wn2e3dk99v0mwslz6jofp24w6ep&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media4.giphy.com/media/fWLffIpICkzAY/giphy.gif?cid=ecf05e471sqchk6wz9mc8i3o3kwm7cgt26d6oeknwbzv893y&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media4.giphy.com/media/12nfFCZA0vyrSw/giphy.gif?cid=ecf05e471sqchk6wz9mc8i3o3kwm7cgt26d6oeknwbzv893y&rid=giphy.gif&ct=g" alt=""></figure>
          <figure><img src="https://media2.giphy.com/media/HIqV5khg6gyqc/giphy.gif?cid=ecf05e47ik06hifhtwqokccygoubq6lkycki2490qq4vh6kn&rid=giphy.gif&ct=g" alt=""></figure>
        </main>
      </div>
    </div>
  </main>
</div>
